
%h5.text-center Videos Index

%ul
  - @videos.each do |video|
    %li
      = link_to '[~]', edit_manager_video_path( video ), { :'data-no-turbolink' => true }
      = video.title
      = video.youtube_id
      = render 'videos/embed_small', :video => video
    
