
.fighters-guild-welcome-home      
  .row
    .large-3.columns.quests-list
      %h5.text-center Quests
      = render 'fighters_guild/questsets/list', :grid => 1, :items => @questsets
          
    .large-9.columns
      %h5.text-center Merit Badges
      = render 'fighters_guild/merit_badges/list', :grid => 3, :items => @badges
      




