

<li class="category" id="{{ category.id }}" >
  <div ng-if="'simple' == category.kind">
    <h5 class="simple">
      {{ category.title }}
      <span class="debug">{{ category.id }}</span>
    </h5>
    <ul>
      <bjj-category-legacy ng-repeat="category_1 in category.categories" category="category_1" ></bjj-category-legacy>
    </ul>
  </div>
  <div ng-if="'thumbs' == category.kind">
    <h5 class="simple">
      {{ category.title }}
    </h5>
    <ul class="large-block-grid-5">
      <bjj-category-legacy ng-repeat="category_1 in category.categories" category="category_1" ></bjj-category-legacy>
    </ul>
  </div>
  <div ng-if="'full' == category.kind">
    <a ui-sref="legacy-category-2({ id: category.id })" >
      <img src="{{ category.photo_url }}" class="thumb" alt="" />
      <br />
      {{ category.title }}
    </a>
  </div>
</li>

