
-#
-# manager questpages index
-#
  
.row
  .col-sm-12
    %p Questpages are like chapters in the book. Each chapter has a bunch of questsets, which in turn have tasks.
    %h3 Questpages #{link_to '[+]', new_manager_questpage_path}
    %ul
      - @questpages.each do |qp|
        %li
          = qp.title
          = link_to '[~]', edit_manager_questpage_path( qp )
