
%h2= @questpage.title

%h3
  Questsets
  = link_to '[+]', new_manager_questset_path( :questpage_id => @questpage.id )
%ul
  - @questpage.questsets.each do |q|
    %li
      = link_to '[~]', edit_manager_questset_path( q )
      = link_to q.title, manager_questset_path( q )
