
-#
-# questsets index
-#
  
.row
  .large-12.columns
    %h3
      Questsets
      = link_to '[+]', new_manager_questset_path, { 'data-no-turbolink' => true }

    = render 'manager/merit_badges/list', :items => @questsets
