
.fg-questsets-show
  .row
    .large-3.columns
      %h4.text-center Videos
      = render 'fighters_guild/questsets/videos', :videos => @videos
    
    .large-9.columns
      = render 'fighters_guild/merit_badges/show', :item => @questset
      = link_to "Back to Questsets", fg_root_path
    
