
.row
  .large-3.columns
    %h4.text-center Videos
    = render 'fighters_guild/merit_badges/videos', :videos => @videos
    
  .large-9.columns
    = render 'fighters_guild/merit_badges/show', :item => @questset
       
    
