
<!-- partials/videos/videos.html -->

<ul>
  <li>partials/videos/videos.html</li>
  <li>Category: {{ category.title }}</li>
  <li>Videos: {{ n_videos }}</li>
</ul>

<ul class="videos no-bullet">
  <li ng-repeat="video in videos">
    <div class="row">
      <div class="large-2 columns">
        <img src="http://img.youtube.com/vi/{{video.youtube_id}}/1.jpg" alt="" />
      </div>
      <div class="large-10 columns">
        <h5>{{ video.title }}</h5>
      </div>
    </div>    
  </li>
</ul>

<div class="pagination">
  Pages:
  <span ng-repeat=" i in n_pages ">
    <a ui-sref="categories_1.detail.videos_paged({ slug: $stateParams.slug, slug_0: $stateParams.slug_0, slug_1: $stateParams.slug_1,
                                                 slug_2: $stateParams.slug_2, slug_3: $stateParams.slug_3, videos_page: i
                                              })">{{ i }}</a>                                              
  </span>

</div>
