
.row
  .large-12.columns

    %h1 Welcome home, manager!

    %ul
      %li Categories
      %li Videos
      %li
        Quest Pages
        %ul
          %li
            Questsets
            %ul
              %li Quests
              %li Badges
      %li Users
      %li Site
          
