
/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.angular-google-map-container {
  height: 400px;
}

.white {
    color: #efefef;
    font-size: .6em;
}
span.debug {
    float: right;
}
/**
 * categories / category directives
 */
li.category h5.simple {
    background: #b3e6ff;
}
li.category img.thumb {
    min-width: 50px !important;
    min-height: 50px !important;
    border: 1px solid gray !important;
}
