


<div class="row">
  <div class="large-8 columns">
    <h1>empty partial</h1>
  </div>
  
  <div class="large-4 columns">
    Category: {{ category.title }}

<ul class="categories no-bullet">
  <li ng-repeat="c0 in categories">
    <h5>{{ c0.title }}</h5>
    <ul class="" >
      <li ng-repeat="c1 in c0.categories">
        <a ui-sref="categories_1.detail.videos({ slug: $stateParams.slug, slug_0: $stateParams.slug_0, slug_1: $stateParams.slug_1,
                                                 slug_2: c0.short_slug, slug_3: c1.short_slug
                                              })">
          {{ c1.title }}
        </a>
      </li>
    </ul>
  </li>
</ul>

  </div>
</div>
    
    
    








