/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self\
 *= require foundation
 *
 */

.inline {
    display: inline !important;
}

textarea.tinymce {
    min-height: 300px;
}

.gray, .grey {
    color: #cccccc;
}

.relative {
    position: relative;
}

.fighters-guild-welcome-home .quests-list {
    border-right: 2px solid #dedede;
    min-height: 800px;
    margin-bottom: 20px;
}



/* main header */
.main-header {
    margin-top: 10px;
}



/* categories */
.categories-index ol,
.categories-index ol li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.categories-index .c0 > li {
}
.categories-index .c1 {
  display: inline-block;
}
.categories-index .c1 > li {
  display: inline-block;
}
