/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree ./
 *
 */

.inline {
    display: inline !important;
}

textarea.tinymce {
    min-height: 300px;
}

.gray, .grey {
    color: #cccccc;
}

.relative {
    position: relative;
}

.ad-leaderboard {
    border: 1px solid #cecece;
    width: 728px;
    height: 90px;
    display: inline-block;
}

/**
 * main header 
 */
.main-header {
    margin-top: 10px;
}



/* 
 * categories
 */

/* legacy */
.categories-index ol,
.categories-index ol li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.categories-index .c0 > li {
}
.categories-index .c1 {
  display: inline-block;
}
.categories-index .c1 > li {
  display: inline-block;
}


/**
 * categories show
 */
.categories-show .videos-list li {
    margin-bottom: 30px;
}
.categories--breadcrumbs {
    margin-top: 10px;
}
/**
 * categories-tree
 */
.categories-tree * {
    font-size: 12px;
}
.categories-tree ul {
  display: none;
}
.categories-tree > ul {
  display: inline-block;
}
.categories-tree span.category-name {
  margin-left: 20px;
}
.categories-tree ul li {
  position: relative;
}
.categories-tree a.addToggle {
  position: absolute;
  left: 0;
  top: 0;
}



/**
 * fg / merit_badges 
 */
.fg-merit-badges-show,
.fg-welcome-home {
    margin-top: 20px;
    margin-bottom: 20px;
}
.fg-welcome-home .quests-list {
    border-right: 2px solid #dedede;
    min-height: 800px;
    margin-bottom: 20px;
    /* background: url('backgrounds/seamless-map.jpg'); */
}
.fg-questsets--list li {
    margin-bottom: 20px;
}


/**
 * videos
 */
.videos-list .title {
  margin-left: 130px;
}








