
.categories-home
  .row
    .large-12.columns
      %h3 BJJ Technique Database
      %h4 Categories

  .row
    .large-4.columns
      -# = render 'categories_tree'
      %nbsp

    .large-8.columns
      %nbsp
      
