
.row
  .small-2.small-offset-2.columns
    = link_to image_tag( 'donate_with_paypal/paypal.png' ), donate_path
  .small-6.columns.end
    %h4
      Your support means a lot to us! Donate $5 to keep the project going! ;-) <3
      = link_to 'Donate $5', donate_path

