
.row
  .large-4.columns
    ^__^
  .large-5.columns
    %ul
      %li 0.0.1
  .large-3.columns
    = link_to image_tag( "icons/20x20/lock.gif" ), manager_root_path
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
